body{
    background-color: black;
}

#hack{
    color: greenyellow;
    text-align: center;
    font-size: 50px;
}

#demo{
    color: green;
    text-align: center;
    font-size: 40px;
}
#demo1{
    color: green;
    text-align: center;
    font-size: 40px;
}
#demo2{
    color: green;
    text-align: center;
    font-size: 40px;
}
#demo3{
    color: green;
    text-align: center;
    font-size: 40px;
}

